<h1>Users {{(allUsers | filter: search).length}}</h1>
<input placeholder="search" [(ngModel)]="search" #ctrl="ngModel" required (ngModelChange)="handleChange($event)"/>
{{search}}
<div *ngFor="let item of allUsers | filter:search">


<app-user 
[user]="item"
(handleOnDelete)="DeleteUser($event)"
(hanldeOnUpdate)="UpdateUser($event)"
></app-user>
</div>
<div *ngIf="(allUsers | filter: search).length === 0">
    
    <div mat-line>0 results</div>
    <div mat-line>No matching presidents</div>
  </div>